/* You can add global styles to this file, and also import other style files */
html, body {
  overflow-x: hidden;
}

body.scroll {
  overflow: hidden !important;
}

@media (max-width: 311px) {
  html, body {
    overflow-x: auto;
    min-width: 280px;
  }
}
